name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest  # Use Windows runner for .NET Framework

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    #- name: Setup .NET Framework
    #  uses: actions/setup-dotnet@v2
    #  with:
    #    dotnet-version: '4.7.2'

    - name: Setup MSBuild Path
      uses: warrenbuckley/Setup-MSBuild@v1

    - name: Restore Dependencies
      run: nuget restore

    - name: Build
      run: msbuild /p:Configuration=Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: Release-Artifact
        path: bin/Release/
